<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="text" v-model="title">
    <input type="text" v-model="title">
    <h3 v-bind="title">发生更新</h3>
</body>
<script>
    function View() {
        let proxy = new Proxy({}, {
            /* 获取数据的方法 */
            get(obj, property) {

            },
            /* 设置数据的方法 */
            set(obj, property, value) {
                console.log(value);
            }
        });
        /* 类方法  在下方的new 后面再被调用即可*/
        this.init = function() {
            const els = document.querySelectorAll("[v-model]");
            // console.log(els);
            els.forEach(item => {
                // console.log(item);
                item.addEventListener("keyup", function() {
                    // console.log("被代理");
                    proxy[this.getAttribute("v-model")] = this.value
                })
            })
        }
    }
    new View().init()
</script>

</html>